:root {
    --azul-marinho: #002855;
    --amarelo: #ffcc00; 
    --branco: #fff;
    --cinza-claro: #f4f4f4;
    --texto: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.6;
    color: var(--texto);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: var(--azul-marinho);
    color: var(--branco);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 4px solid var(--amarelo);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    color: var(--branco);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 1s;
}

.nav-links li a:hover {
    color: var(--amarelo);
}

.hero {
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--branco);
    margin-top: 60px;
}